version 6.0
framework: net6.0
storage: none
source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/fc1943s/index.json username: "%GITHUB_ACTOR%" password: "%GITHUB_READ_PACKAGES_TOKEN%"

nuget FSharp.Core ~> 5.0

// FsBeacon.HubPeer
nuget Argu ~> 6.1
nuget Fable.SignalR.Saturn ~> 0.11
nuget FSharp.Control.AsyncSeq ~> 3.0

// FsBeacon.Template
nuget FsCore ~> 0.0 prerelease
nuget FsJs ~> 0.0 prerelease
nuget FsStore ~> 0.2 prerelease
nuget FsUi ~> 0.0 prerelease

nuget Feliz ~> 1.51

// Deploy
nuget Farmer ~> 1.6
