cypress-examples/
.parcel-cache/
.cache/
cypress/videos/

www/
extensions/

cra_output/
electron_output/

# Cordova
/plugins/
/platforms/


/fsbeacon-gunpeer-synctestdata
/fsbeacon-hubpeer-synctestdata